.block-switcher {
  padding: var(--amplify-space-medium);
  border: 1px solid var(--amplify-colors-neutral-20);
}

.block-switcher__tab-list {
  margin-bottom: var(--amplify-space-medium);
}

.block-switcher__tab-panel {
  flex-direction: column;
  display: none;
  &--active {
    display: flex;
  }
}
